*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Prompt',sans-serif;
}

/* ---------- Cover ---------- */

.cover{

    height:100vh;

    background:#f5f7fb;

}

.overlay{

    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;

}

.hero{

    width:85%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:80px;

}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

}

.hero-image img{

    width:360px;

    height:500px;

    object-fit:cover;

    border-radius:25px;

    box-shadow:0 20px 40px rgba(0,0,0,.2);

}

.hero-text{

    flex:1;

}

.hero-text h1{

    font-size:60px;

    color:#1D4F91;

    line-height:1.2;

}

.hero-text h2{

    margin-top:15px;

    font-size:42px;

    color:#FFC845;

}

.hero-text p{

    margin-top:25px;

    font-size:24px;

    color:#555;

    line-height:1.8;

}

.btn{

    display:inline-block;

    margin-top:40px;

    background:#1D4F91;

    color:white;

    padding:16px 45px;

    border-radius:50px;

    text-decoration:none;

    font-size:20px;

    transition:.3s;

}

.btn:hover{

    background:#FFC845;

    color:black;

}

.btn{

    margin-top:40px;

    background:#1D4F91;

    color:white;

    padding:15px 45px;

    border-radius:40px;

    text-decoration:none;

    transition:.3s;

    font-size:20px;

}

.btn:hover{

    background:#FFC845;

    color:black;

}

/* ---------- About ---------- */

#about{

    padding:100px;

    background:white;

}

#about h2{

    color:#1D4F91;

    font-size:45px;

}

#about p{

    color:#444;

    font-size:22px;

    margin-top:20px;

}
